

:root {
    --black: #222222;
    --pink: #F1E4E6;
--dark-pink: #F16D7F;
--greyy: #5D5D5D;

}
.body {font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;}
.container{
    margin: 0% auto;
    width: 1140px;
}
.header { 
    background-color: var(--black);
}
.header__container
{  display: flex;
    align-items: center;
    min-height: 75px;
    justify-content:space-between;
    background-color: var(--black);
}
.header__navig{
    display: none;
}
.header__box{
    display: flex;
}
.header__logo {
    margin:0 41px 0 0;
}
.header__ico {
    margin:  0 0 0 33px;
}
.header__button {
    border: none;
    background-color: transparent;
}
.hero {display: flex;
background-color: #F1E4E6;}
.hero-wrp {display: flex;
align-items: center;
padding: 0 0 0 92px;}
.hero__title{ display: block;
    justify-content: space-between;
    font-family: Lato;
font-size: 48px;
font-weight: 900;
line-height: 58px;
text-transform: uppercase;
color: #222222;
text-decoration: none;}

.hero__subtitle {
    display: block;
font-size: 37px;
font-weight: 700;
line-height: 38px;
color: #222222;
text-decoration: none;
}
.hero--pink{color: var(--dark-pink); }

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); 
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
.sale__text{text-align: center;
    display: block;}
.accesouries {
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;}

.woman {box-sizing: border-box;
    width: 360;
    padding: 44px 30px;
    margin-left: 230px;
text-align: center;
display:block;
border-radius: 10px;}
.men{box-sizing: border-box;
    width: 360;
    padding: 44px 30px;
text-align: center;
display:block;
border-radius: 10px;}
.kids {box-sizing: border-box;
    width: 360;
    padding: 44px 30px;
text-align: center;
display:block;
border-radius: 10px;}
.sale__list { display:flex; 
    justify-content: space-between; 
}

.wares {
    display: flex; justify-content: space-between; padding-top: 47px; margin-right: 230px;
}
.capsule__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
    color: var(--greyy);}
.capsule__price {
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: var(--dark-pink);
}
.ware__card {
    box-sizing: border-box;
    padding: 44px 30px;
text-align: center;
display:block;
border-radius: 10px;
}